body{
    background-color: brown;
}
.marco{
    display: flex;
    /*background-color: brown;*/
    flex-direction:  column; /* cambio la direccion de las cajas columna o fila */
}
.ejercicio1{
    display: flex;
    /*background-color: rgb(233, 37, 37);*/
    margin: 10px;
    align-content:center;     
}
#box1{
    display: flex;
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-color: black;
}
#box2{
    display: flex;
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-color: black;
}
#box3{
    display: flex;
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-color: black;
}