<p> Próximamente</p>
<div class="row">
    <p class="text-end">
        Hola {{nombre}}
        <a class="btn btn-danger" href="/admin/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </p>
</div>