<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transportes 2022</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/transportes.css" />
  </head>

  <body>
    <header>
      <div class="holder">
        <img src="img/logo.png" width="100" alt="Transportes 2022" />
        <h1>Transportes 2022</h1>
      </div>
    </header>

    <main class="holder contacto">
      <div>
        <h2>Contacto rápido</h2>
        <form action="" method="" class="formulario">
          <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="">
          </p>
          <p>
            <label for="email">Email</label>
            <input type="text" name="">
          </p>
          <p>
            <label for="telefono">Teléfono</label>
            <input type="text" name="">
          </p>
          <p>
            <label for="mensaje">Mensaje</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </p>
          <p>
            <input type="submit" name="Enviar">
          </p>
        </form>
      </div>
      <div class="datos">
        <h2>Otras vías de comunciación</h2>
        <p>Otros datos de contacto</p>
        <ul>
          <li>Teléfono: 4444-5555</li>
          <li>email: tumail@tudominio.com.ar</li>
          <li>Fb:</li>
          <li>TW</li>
        </ul>
      </div>
    </main>

    <footer>
      <div class="holder">
        <p>hdavella 2022</p>
      </div>
    </footer>
  </body>
</html>
