body{
    background: linear-gradient(to bottom, rgb(96, 96, 124),white);
}
h3{
    background-color: beige;
    color:brown;
    text-shadow: 1px 3px 20px rgba(0,0,0,1);
    border-radius: 5px 10px 10px 5px;
}
h5{
    color: rgb(255, 38, 0);
}
#parrafos{
    color:rgb(24, 95, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    font: bold;
}
div{
    padding: 1%;
    background-color: rgb(160, 16, 16);
    margin: 2%;
    margin-right: 2%;
    width: min-content;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #ff6550;
}
