h3{
    background-color: beige;
    color:brown;
}
h5{
    color: rgb(255, 38, 0);
}
#parrafos{
    color:rgb(24, 95, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    font: bold;
}
div{
    padding: 1%;
    background-color: rgb(160, 16, 16);
    margin: 2%;
    margin-right: 2%;
    width: min-content;
}
