<h1>{{var1}}</h1>
<p>Welcome to {{var1}}</p>

{{#if conocido}}
<p>Hola {{nombre}}</p>
<a href="/salir">Salida</a>
{{/if}}

{{#unless conocido}}
<p>No te conozco</p>
<form action="/ingresar" method="post">
    <input type="text" name="nombre"><button>ingresar</button>
</form>
{{/unless}}
